body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    margin: 0;
}

.seconds-container {
    display: flex;
    margin-top: 1rem; /* Espacio entre el contador y la parte superior */
}

.digit {
    background-color: black;
    color: white;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.1rem;
    border-radius: 0.2rem;
}

.clock {
    font-size: 4rem;
}